

    <article class="post">
      <div class="title">
        <h2>Title</h2>
        <p>{{post.title}}</p>
      </div>
      <div class="meta">
       <p>{{post.content}}</p>
      </div>
    </article>

    <div class="comments">
      <h3>Comments</h3>
      {{#each post.comments as |comment|}}
      <div class="comment">
        <p>{{comment.comment_text}}</p>
        <p>Submitted by {{comment.user.username}}</p>
      </div>
      {{/each}}

<script src="/javascript/single-post.js"></script>