

    <article class="post">
      <div class="title">
        <h2>{{post.title}}</h2>
      </div>
      <div class="meta">
       <p>{{post.content}}</p>
      </div>
    </article>

<script src="/javascript/single-post.js"></script>